# Node / npm
node_modules/
.npm/
.pnpm-store/

# Build artifacts
.dist/
.next/
out/
build/
coverage/
.DS_Store

# IDE
.vscode/
.idea/

# Env and secrets
.env
.env.*

# Logs
npm-debug.log*
pnpm-debug.log*
.yarn-debug.log*
.yarn-error.log*

# Terraform / IaC local state
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# OS files
Thumbs.db
